
h1 { font-family: 'Roboto', sans-serif;}
h2 { color:#ff0000;} 


/*Classe*/
.xpto {
    width: 300px;
    height: 300px;
    background: #f00 url("../Images/bot_off.png") no-repeat center center;
    cursor: pointer;
    /*Ocultar cenas*/
    /*display: none;*/ 
}

.xpto:hover{
    background: url("../Images/bot_on.png") no-repeat center center;

    background: #0f0 !important;
    transition: background-color 0.5s ease ;
}

.xpto.n2:hover{
    background: #00f !important;
    transition: background-color 0.5s ease ;

}

#obj1{width: 100px;height: 50px;}
#obj2{width: 200px;height: 20px;}
#obj3{width: 500px;height: 200px;}
#obj1, #obj2, #obj3{border: 1px solid #ccc;float: left;}

/** MENU **/

.areaUtil {width: 1000px ; margin: 10px auto;}
.zonaLogo {width: 200px;margin: 0 auto;}
.zonaMenu {width: 100%; border: 1px solid #f00;}
.menuOps{width: 33%;Float:left; text-align:center;}

